* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "KFWCentroSans";
  src: url("fonts/KFWCentroSans-Bold.eot"); /* IE9 Compat Modes */
  src: url("fonts/KFWCentroSans-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/KFWCentroSans-Bold.woff") format("woff"),
    /* Modern Browsers */ url("fonts/KFWCentroSans-Bold.woff2") format("woff2"),
    /* Modern Browsers */ url("fonts/KFWCentroSans-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "KFWCentroSansMedium";
  src: url("fonts/KFWCentroSans-Med.eot"); /* IE9 Compat Modes */
  src: url("fonts/KFWCentroSans-Med.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/KFWCentroSans-Med.woff") format("woff"),
    /* Modern Browsers */ url("fonts/KFWCentroSans-Med.woff2") format("woff2"),
    /* Modern Browsers */ url("fonts/KFWCentroSans-Med.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "KFWCentroSans";
  src: url("fonts/KFWCentroSans-Reg.eot"); /* IE9 Compat Modes */
  src: url("fonts/KFWCentroSans-Reg.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/KFWCentroSans-Reg.woff") format("woff"),
    /* Modern Browsers */ url("fonts/KFWCentroSans-Reg.woff2") format("woff2"),
    /* Modern Browsers */ url("fonts/KFWCentroSans-Reg.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "KFWCentroSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5a6166;
}
ul {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 30px 0 10px;
}

.wrapper {
  width: 1170px;
  margin: auto;
  max-width: 100%;
  padding: 0 15px;
}
.width-short {
  width: 560px;
  margin: auto;
  max-width: 100%;
}
.mr-left-50 {
  img {
    margin-left: 50px;
  }
}
.mr-left-25 {
  .title-h5 {
    margin-left: 25px;
  }
}
.logo {
  max-height: 50px;
}
.color-bg {
  background-color: #fdf6ef;
  padding: 20px 30px;
  position: relative;
  &.flex-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.flex-box-50 {
  display: flex;
  justify-content: space-between;
  div {
    width: 47%;
    .btn-box {
      width: 100%;
    }
  }
}
form {
  fieldset {
    display: none;
    border: none;
    padding: 0;
    margin: 0;
    &.active {
      display: inline-block;
      width: 100%;
    }
  }
}

.text-center {
  text-align: center;
  justify-content: center;
}

.title-h1 {
  border-bottom: 3px solid #ccd392;
  padding: 0 0 20px;
  margin: 0 0 25px;
  text-align: center;
  font-weight: 400;
}
.title-h2 {
  font-size: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 0 0 30px;
  img {
    margin: 0 20px 0 0;
  }
}

.title-h3 {
  font-size: 21px;
  margin: 0;
  font-weight: 400;
  padding: 0 0 15px;
  &.smaller {
    font-size: 18px;
  }
}
.title-h4 {
  font-size: 18px;
  font-weight: 800;
  padding: 0 0 10px;
}
.title-h5 {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
  line-height: 18px;
  span {
    font-weight: 400;
  }
  &.smaller {
    font-size: 15px;
  }
}

.first-list {
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px;
  &.padding-less {
    padding-bottom: 0;
  }
  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 0 20px;
    font-size: 18px;
    align-items: center;
    width: 100%;
    i {
      background-color: #5a6166;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      color: #fff;
      margin: 0 15px 0 0;
      font-style: normal;
      font-size: 14px;
    }
    span {
      width: 90%;
    }
  }
}

.flex-box {
  display: flex;
  justify-content: space-between;
  div:first-child {
    width: 75%;
  }
  div:last-child {
    width: 25%;
  }
}
.text-left {
  text-align: left;
}
.steps-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.width300 {
    width: 300px;
    margin: auto;
    li ul li {
      list-style: outside;
    }
  }
  &.height380 {
    height: 380px;
    justify-content: space-evenly;
  }
  &.first-step {
    padding: 78px 0 0;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 0 0;
      h6 {
        width: 30%;
      }
      h5 {
        width: 70%;
        justify-content: flex-start;
        text-align: left;
        padding: 0;
      }
    }
  }
  li {
    list-style: none;
    text-align: center;
    padding: 0;
    &.text-left,
    &.text-left ul li {
      text-align: left;
    }
    h6 {
      padding: 0 0 5px;
      position: relative;
      display: inline-block;
      &.pd-tb10 {
        padding: 10px 0;
      }
    }
    ul {
      padding: 10px 0 0;
      li {
        font-size: 16px;
        line-height: 18px;
        padding: 0 0 5px;
      }
    }
  }
}
.steps-ul li ul.padding-top20,
.padding-top20 {
  padding-top: 20px;
}

.padding-bottom20 {
  padding-bottom: 20px;
}
.padding-bottom50 {
  padding-bottom: 50px;
}
.padding-top0 {
  padding-top: 0;
}
.mobile-ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 0 20px;
  li {
    width: 50%;
    img {
      max-height: 240px;
    }
    .title-h5 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.width-60 {
  width: 60%;
  margin: auto;
}
.tick,
.tick2,
.tick3 {
  font-size: 18px;
  border-radius: 50px;
  background-color: #1b618c;
  color: #fff;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
}
.btn-box {
  display: flex;
  justify-content: center;
  /* position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%; */
}
.next-btn,
.close-btn {
  border: none;
  background-color: #1b618c;
  padding: 15px;
  width: 180px;
  display: inline-block;
  margin: auto;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.check-ul {
  display: flex;
  padding: 40px 0 200px;
  justify-content: space-between;
  li {
    list-style: none;
    width: 47%;
  }
  label {
    cursor: pointer;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 40px 0;
    font-weight: normal;
    background-color: #fff;
    border: 2px solid #999;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    display: block;
  }
}
.check-ul li [type="radio"] {
  display: none;
}
.check-ul li label:hover,
.check-ul li input[type="radio"]:checked + label {
  background-color: #1b618c;
  border-color: #1b618c;
  color: #fff;
}

.title-h6 {
  font-size: 13px;
  font-weight: 400;
  padding: 0 0 10px;
}
.steps-ul li ul.camera-ul {
  padding: 30px 0;
  li {
    list-style: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 85px 10px;
  }
}
.camera-ul2 {
  height: 340px;
}
.otp-ul {
  height: 275px;
  width: 100%;
  li {
    list-style: none;
    width: 100%;
    padding: 30px 0 0;
    &.mobile {
      position: relative;
      display: flex;
      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
        background: url(../images/dropdown.png) 88% center no-repeat;
        display: block;
        text-indent: 0.01px;
        border-left: 1px solid #999;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        width: 30%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 12px 5px;
        border-radius: 10px 0 0 10px;
      }
    }
  }
}
.input-box {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #999;
  padding: 12px 15px;
  text-align: center;
  position: relative;
  &:focus,
  &:active {
    outline: none;
  }
}
.otp-ul li.mobile .input-box {
  text-align: left;
  width: 70%;
  border-radius: 0 10px 10px 0;
}
.completed {
  background-color: #e5f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  margin: 60px 0;
  border-radius: 50%;
  .first {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #aedde2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0197a5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .third {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.tick-last {
  color: #fff;
  font-size: 18px;
}
.konto-ul {
  display: flex;
  flex-direction: column;
  height: 210px;
  align-items: center;
  li {
    list-style: none;
    flex: 1;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  h6 {
    position: relative;
    display: inline-block;
  }
}
.fts-logo {
  text-align: right;
  padding: 20px 0 20px;
  img {
    width: 100%;
    max-width: 100px;
  }
}
.reference-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 275px;
  padding: 15px 0;
  li {
    list-style: none;
    padding: 0 0 20px;
    font-size: 14px;
    label {
      text-decoration: underline;
      padding: 0 0 8px;
      display: block;
    }
    .terms {
      display: inline-block;
      position: relative;
      input {
        position: absolute;
        left: 0;
        top: 0;
      }
      label {
        cursor: pointer;
        text-decoration: none;
        padding: 0 0 0 25px;
      }
    }
    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      background: url(../images/dropdown.png) 92% center no-repeat;
      display: block;
      text-indent: 0.01px;
      border: 1px solid #999;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 12px 15px;
    }
  }
}

.powered-by {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 16px;
  padding: 40px 0 15px;
  img {
    margin: 0 0 0 10px;
  }
}

/* Responsive Media Queries */
/* For Ipad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .flex-box div {
    &:first-child {
      width: 65%;
    }
    &:last-child {
      width: 35%;
    }
  }
  .first-list,
  .first-list.padding-less {
    padding: 20px 0;
  }
  .steps-ul.first-step li {
    padding: 5px 0 30px;
  }
}
/*** Responsive for mobile ***/
@media only screen and (max-width: 767px) {
  body {
    background-position: 0 0;
  }
  .logo {
    max-width: 120px;
  }
  .main-content {
    margin: 15px 0 0;
  }

  .steps-ul {
    height: auto;
  }
  .mobile-ul {
    flex-direction: column;
    align-items: center;
  }
  .title-h1 {
    font-size: 24px;
    padding: 15px 0;
  }
  .title-h2 {
    font-size: 21px;
    padding: 0 0 15px;
  }
  .title-h3 {
    font-size: 18px;
  }
  .flex-box,
  .flex-box-50 {
    flex-direction: column;
    div:first-child,
    div:last-child {
      width: 100%;
    }
  }
  .color-bg {
    padding: 20px 15px;
    margin: 0 0 20px;
  }
  .width-short {
    width: auto;
  }
  .mr-left-50 img {
    margin: 0;
  }
  .mobile-ul li,
  .title-h2.width-60,
  .title-h5.smaller.width-60 {
    width: 100%;
  }
  br {
    display: none;
  }
  .title-h2.smaller {
    font-size: 18px;
  }
  .steps-ul.first-step {
    padding: 0 0 25px;
  }
  .steps-ul.width300 {
    width: 100%;
    li ul {
      padding: 0 0 0 15px;
    }
  }
  .mr-left-25 .title-h5 {
    margin: 0;
  }
  .first-list,
  .first-list.padding-less {
    padding: 15px 0;
  }
  .steps-ul.height380 {
    height: auto;
  }
}
